.vschess-style-mobile .vschess-board, .vschess-style-mobile .vschess-board-edit { width:675px; height:750px; padding:10px; background:url(board.png), url(board.jpg) no-repeat center center; background-size:100%; }
.vschess-style-mobile .vschess-piece, .vschess-style-mobile .vschess-piece-animate, .vschess-style-mobile .vschess-piece-disabled { width:75px; height:75px; background-size:100%; }
.vschess-style-mobile .vschess-piece-S { background:url(piece.png) no-repeat 0px -1050px; background-size:100%; }
.vschess-style-mobile .vschess-piece-s { background:url(piece.png) no-repeat 0px -1125px; background-size:100%; }
.vschess-style-mobile .vschess-piece span, .vschess-style-mobile .vschess-piece-animate span { width:75px; height:75px; background:url(piece.png) no-repeat 0px 75px; background-size:100%; }
.vschess-style-mobile .vschess-piece-R span { background-position:0px    0px; }
.vschess-style-mobile .vschess-piece-N span { background-position:0px  -75px; }
.vschess-style-mobile .vschess-piece-B span { background-position:0px -150px; }
.vschess-style-mobile .vschess-piece-A span { background-position:0px -225px; }
.vschess-style-mobile .vschess-piece-K span { background-position:0px -300px; }
.vschess-style-mobile .vschess-piece-C span { background-position:0px -375px; }
.vschess-style-mobile .vschess-piece-P span { background-position:0px -450px; }
.vschess-style-mobile .vschess-piece-r span { background-position:0px -525px; }
.vschess-style-mobile .vschess-piece-n span { background-position:0px -600px; }
.vschess-style-mobile .vschess-piece-b span { background-position:0px -675px; }
.vschess-style-mobile .vschess-piece-a span { background-position:0px -750px; }
.vschess-style-mobile .vschess-piece-k span { background-position:0px -825px; }
.vschess-style-mobile .vschess-piece-c span { background-position:0px -900px; }
.vschess-style-mobile .vschess-piece-p span { background-position:0px -975px; }
.vschess-style-mobile .vschess-piece-X span { background: none; }
.vschess-style-mobile .vschess-piece-X span:before { display: block; content: ''; position: absolute; top: 50%; left: 50%; width: 50px; height: 4px; margin: -2px 0 0 -25px; background-color: #f00; transform: rotate( 45deg); -webkit-transform: rotate( 45deg); -moz-transform: rotate( 45deg); -ms-transform: rotate( 45deg); -o-transform: rotate( 45deg); }
.vschess-style-mobile .vschess-piece-X span:after  { display: block; content: ''; position: absolute; top: 50%; left: 50%; width: 50px; height: 4px; margin: -2px 0 0 -25px; background-color: #f00; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); }
